<div class="row">
  <div class="col-md-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Phoenix Reporting</a></li>
        <li class="breadcrumb-item active" aria-current="page">Поддержка</li>
      </ol>
    </nav>
  </div>
</div>

<div class="card">
  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th scope="col" class="border-0">ПАРАМЕТР</th>
      <th scope="col" class="border-0">ЗНАЧЕНИЕ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="w-50 ml-2">Название:</td>
      <td class="mr-2 w-50">Phoenix Reporting</td>
    </tr>
    <tr>
      <td class="w-50 ml-2">Компания:</td>
      <td class="mr-2 w-50">Феникс48</td>
    </tr>
    <tr>
      <td class="w-50 ml-2">Телефон:</td>
      <td class="mr-2 w-50">+7(938)412-15-26</td>
    </tr>
    <tr>
      <td class="w-50 ml-2">Email:</td>
      <td class="mr-2 w-50">Support@phoenix48.com</td>
    </tr>
    <tr>
      <td class="w-50 ml-2">Версия DB:</td>
      <td class="mr-2 w-50">v1.0</td>
    </tr>
    <tr>
      <td class="w-50 ml-2">Версия Web:</td>
      <td class="mr-2 w-50">v1.0</td>
    </tr>
    <tr class="text-center">
      <td colspan="2">
        © 2019, сделано с любовью <a class="" href="https://phoenixtech.ru">Phoenix48</a></td>
    </tr>
    </tbody>
  </table>
</div>
