<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    <!--<nav aria-label="breadcrumb">-->
      <!--<ol class="breadcrumb">-->
        <!--<li class="breadcrumb-item"><a href="#">Phoenix Reporting</a></li>-->
        <!--<li class="breadcrumb-item active" aria-current="page">Поддержка</li>-->
      <!--</ol>-->
    <!--</nav>-->
  <!--</div>-->
<!--</div>-->

<div class="card">
  <table class="table mb-0 table-hover">
    <thead>
    <tr class="font-weight-bold">
      <td class="ml-2">Контакт</td>
      <td>Информация</td>
      <td>Время работы</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="ml-2 text-muted">Email:</td>
      <td>support@goldinnfish.com</td>
      <td>Круглосуточно</td>
    </tr>
    <tr>
      <td class="ml-2 text-muted">Телефон:</td>
      <td>+7(938)412-15-26</td>
      <td>Вт. - Сб.</td>
    </tr>
    <tr>
      <td class="ml-2 text-muted">Телефон:</td>
      <td>+7(929)828-88-40</td>
      <td>Вс. - Пн.</td>
    </tr>
    <!--<tr class="text-center">-->
      <!--<td colspan="3">-->
        <!--© 2019, сделано с любовью<a class="" href="https://phoenixtech.ru">!</a>-->
      <!--</td>-->
    <!--</tr>-->
    </tbody>
  </table>
</div>
