<!--<div class="d-flex justify-content-center align-items-center" id="main">-->
  <!--<h1 class="mr-3 pr-3 align-top border-right align-content-center">404</h1>-->
  <!--<div class="align-middle">-->
    <!--<h2 class="font-weight-normal lead" id="desc">Запрошенная страница не найдена или у вас нет доступа к данному разделу.</h2>-->
    <!--<button class="btn btn-info" (click)="onBack()" >Вернуться</button>-->
  <!--</div>-->
<!--</div>-->


<div class="container mt-lg-5 mt-4">
  <div class="row mt-lg-5">
    <div class="col-lg-4 border-right text-right">
      <img src="../assets/fen404.png" class="" height="300px" width="auto">
    </div>
    <div class="col-lg-8">
      <div class="align-middle mt-3">
        <h2 class="font-weight-normal lead" id="desc">Запрошенная страница не найдена или у вас нет доступа к данному разделу.</h2>
        <div class="">
          <button class="btn btn-info" (click)="onBack()" >Вернуться</button>
        </div>
      </div>
    </div>
  </div>
</div>
