<div class="container pt-lg-5 pt-3">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mt-lg-4 pl-lg-5 pr-lg-5">
    <div class="card" [hidden]="show">
      <div class="card-body">
      <form (ngSubmit)="Auth({login: login, password: password, savelogin: savelogin});" #authForm="ngForm">
        <div class="text-center">
          <img class="picture mb-3" src="../assets/logo.jpg" width="150" height="150">
        </div>
        <h2 class="text-center font-weight-bold title">Reports</h2>
        <div class="form-group">
          <label for="login">Логин</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="fio"><i class="fas fa-user-tie"></i></span>
            </div>
            <input type="text" class="form-control" id="login" name="login" [(ngModel)]="login" required>
          </div>
          <small class="form-text text-muted">Введите зарегистрированный логин.</small>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="pass1"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
          </div>
          <small class="form-text text-muted">Пароль должен содержать не менее 6 символов.</small>
        </div>
        <div class="">
          <input type="checkbox" class="form-check-input checkbox" id="savelogin" [(ngModel)]="savelogin"
                 name="savelogin">
          <label class="form-check-label" for="savelogin">Запомнить меня</label>
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-info w-100" [disabled]="authForm.form.invalid">Войти
          </button>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            <!--<small class="text-muted">Api v{{versionApiResp}}</small>-->
          </div>
          <div class="col-8 text-right">
            <a href="#" class="">
              <small>Забыл пароль?</small>
            </a>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
</div>


