<div class="row">
  <div class="col-md-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../']">Phoenix Reporting</a></li>
        <li class="breadcrumb-item active" aria-current="page">Концентраторы</li>
      </ol>
    </nav>
  </div>

  <div class="col-md-6 text-right align-self-center">

    <div class="btn-group mb-2 mr-2">
      <button type="button" class="btn btn-pink dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Парки <i class="fab fa-fort-awesome ml-2"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right mt-2">
        <button class="dropdown-item mr-2 mb-2 pl-3" *ngFor="let park of listPark"
                [ngClass]="park.name === itemPark ? 'btn-pink':''" (click)="selectPark(park)">{{park.name}}</button>
      </div>
    </div>

    <button class="btn btn-pink mb-2" routerLink="add"><span>Добавить</span> <i class="fas fa-hdd ml-2"></i></button>
  </div>

</div>


<div class="row page-animate">
  <div class="col-md-12">
    <div class="card" [ngClass]="listHub.length === 0 ? 'd-none':''">
      <div class="card-header">
        <h3 class="font-weight-bold">{{itemPark}}</h3>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Хаб</th>
            <th scope="col">Ip адрес</th>
            <th scope="col" class="text-center">Список считывателей</th>
            <th scope="col" class="text-center">Удалить</th>
          </tr>
          </thead>
          <tbody>


          <tr *ngFor="let hub of listHub">
            <td class="text-center">
              <button class="btn btn-info" (click)="editHub(hub.hub_id)" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-hdd"></i>
              </button>
            </td>
            <th class="align-middle" scope="row" (click)="editHub(hub.hub_id)">{{hub.name}}</th>
            <td class="align-middle" scope="row" (click)="editHub(hub.hub_id)">{{hub.ip_adr}}</td>
            <td class="text-center">
              <button class="btn btn-pink" (click)="listSch(hub)">Считыватели</button>
            </td>
            <td class="text-center">
              <button class="btn btn-info" (click)="selectHub(hub)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Удаление концентратора</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить концентратор {{itemHub.name}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="deleteHub()" data-toggle="modal" data-target="#exampleModalCenter">Удалить</button>
        <button type="button" class="btn btn-pink" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
