<div class="row d-none-xl">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 pb-0">
        <li class="breadcrumb-item"><a [routerLink]="['../']">Phoenix Reporting</a></li>
        <li class="breadcrumb-item active" aria-current="page">Отчет по кассам</li>
      </ol>
    </nav>
  </div>
</div>

<form #reportForm="ngForm" class="page-animate" [hidden]="showSettings">
  <div class="card mt-3">

    <div class="card-body">
      <div class="row">

        <div class="col-lg-9 col-md-7">
          <div class="form-group">
            <angular2-multiselect [data]="listCard" [(ngModel)]="listCardActive" [settings]="settingsCard" name="listCardActive" id="listCardActive">
            </angular2-multiselect>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 align-self-center">
          <div class="row">
            <div class="col-auto mb-2">
                <input type="checkbox" class="ml-0 form-check-input checkbox" id="fl_cash" [(ngModel)]="fl_cash" name="fl_cash">
                <label class="form-check-label" for="fl_cash">Наличные</label>
            </div>
            <div class="col-auto mb-2">
                <input type="checkbox" class="ml-0 form-check-input checkbox" id="fl_cashless" [(ngModel)]="fl_cashless" name="fl_cashless">
                <label class="form-check-label" for="fl_cashless">Безналичные</label>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label for="date_start" class="input-group-text text-input"><i class="fas fa-calendar-alt mr-2"></i>Начало</label>
              </div>
              <input type="datetime-local" class="form-control" id="date_start" name="date_start"
                     [ngModel]="date_start | date: 'yyyy-MM-ddTHH:mm'"
                     (ngModelChange)="date_start = $event" required>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label for="date_end" class="input-group-text text-input"><i class="fas fa-calendar-alt mr-2"></i>Окночание</label>
              </div>
              <input type="datetime-local" class="form-control" id="date_end" name="date_end"
                     [ngModel]="date_end | date: 'yyyy-MM-ddTHH:mm'"
                     (ngModelChange)="date_end = $event" required>
            </div>
          </div>
        </div>

            <div class="col-lg-2 col-md-6 text-center">
              <div class="btn-group mb-2 w-100" role="group" aria-label="Basic example">
                <button class="btn btn-info" (click)="onDay('minus')"><i class="fas fa-caret-left"></i></button>
                <button [ngClass]="type_rep === 'day' ? 'btn-pink':'btn-info'" class="btn w-100"
                        (click)="onRepPassParam('day')">День
                </button>
                <button class="btn btn-info" (click)="onDay('plus')"><i class="fas fa-caret-right"></i></button>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
              <div class="btn-group mb-2 w-100" role="group" aria-label="Basic example">
                <button class="btn btn-info" (click)="onWeek('minus')"><i class="fas fa-caret-left"></i></button>
                <button [ngClass]="type_rep === 'week' ? 'btn-pink':'btn-info'" class="btn w-100"
                        (click)="onRepPassParam('week')">Неделя
                </button>
                <button class="btn btn-info" (click)="onWeek('plus')"><i class="fas fa-caret-right"></i></button>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
              <div class="btn-group mb-2 w-100" role="group" aria-label="Basic example">
                <button class="btn btn-info" (click)="onMonth('minus')"><i class="fas fa-caret-left"></i></button>
                <button [ngClass]="type_rep === 'month' ? 'btn-pink':'btn-info'" class="btn w-100"
                        (click)="onRepPassParam('month')">Месяц
                </button>
                <button class="btn btn-info" (click)="onMonth('plus')"><i class="fas fa-caret-right"></i></button>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
              <div class="btn-group mb-2 w-100" role="group" aria-label="Basic example">
                <button class="btn btn-info" (click)="onYear('minus')"><i class="fas fa-caret-left"></i></button>
                <button [ngClass]="type_rep === 'year' ? 'btn-pink':'btn-info'" class="btn w-100"
                        (click)="onRepPassParam('year')">Год
                </button>
                <button class="btn btn-info" (click)="onYear('plus')"><i class="fas fa-caret-right"></i></button>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-5 text-right">
              <button *ngIf="listReport.length > 0" class="btn btn-pink mr-1 mb-2" (click)="exportExcel()">В Excel
              </button>
            </div>
            <div class="col-lg-2 col-md-8 col-7">
              <button type="button" data-dismiss="modal" class="btn btn-info w-100 mb-2"
                      (click)="getReport({date_start: date_start, date_end: date_end, cards: listCardActive, fl_cash: fl_cash, fl_cashless: fl_cashless});"
                      [disabled]="reportForm.form.invalid">Сформировать
              </button>
            </div>
      </div>
    </div>
  </div>
</form>

<div class="row page-animate mt-3" *ngFor="let prk of listReport" [ngClass]="prk.data.length === 0 ? 'd-none':''">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0 pb-0">{{prk.name}}</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-striped mb-0 table-hover table-borderless">
          <thead>
          <tr class="pt-4 pb-4">
            <th class="pointer text-center" scope="col" (click)="setOrder('name')">Касса
              <i [hidden]="reverse" [ngClass]="order === 'name' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'name' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </th>
            <th class="pointer text-right" scope="col" (click)="setOrder('count_card')">Карты
              <i [hidden]="reverse" [ngClass]="order === 'count_card' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'count_card' ? '':'d-none'"
                 class="fas fa-caret-down ml-2"></i>
            </th>
            <th class="pointer text-right" scope="col" (click)="setOrder('sum_sale')">Продажи
              <i [hidden]="reverse" [ngClass]="order === 'sum_sale' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'sum_sale' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </th>
            <th class="pointer text-right" scope="col" (click)="setOrder('sum_add')">Пополнение
              <i [hidden]="reverse" [ngClass]="order === 'sum_add' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'sum_add' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </th>
            <th class="pointer text-right" scope="col" (click)="setOrder('sum_ref')">Возврат
              <i [hidden]="reverse" [ngClass]="order === 'sum_ref' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'sum_ref' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </th>
            <th class="pointer text-right pr-3" (click)="setOrder('total')" scope="col">Итого
              <i [hidden]="reverse" [ngClass]="order === 'total' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'total' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let kassa of prk.data | orderBy: order:reverse" (click)="Detalization(prk, kassa)">
            <th class="align-middle text-center" scope="row">{{kassa.name}}</th>
            <td class="align-middle text-right" scope="row">{{kassa.count_card | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">шт.</span></td>
            <td class="align-middle text-right" scope="row">{{kassa.sum_sale | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{kassa.sum_add | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{kassa.sum_ref | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right pr-3" scope="row">{{kassa.total | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
          </tr>

          <tr class="total" *ngFor="let total of listTotal" [ngClass]="total.id === prk.id ? '':'d-none'">

            <th class="align-middle text-center" scope="row">Итог:</th>
            <td class="align-middle text-right" scope="row">{{total.count_card | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">шт.</span></td>
            <td class="align-middle text-right" scope="row">{{total.sum_sale | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{total.sum_add | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{total.sum_ref | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right pr-3" scope="row">{{total.sum_sale + total.sum_add - total.sum_ref |
              currency:'RUB':' ':'1.0-0'}} <span class="d-none-xs">руб.</span></td>

          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
