<div class="row d-none-xl">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 pb-0">
        <li class="breadcrumb-item active" aria-current="page">Отчет по кассам</li>
      </ol>
    </nav>
  </div>
</div>

<form #reportForm="ngForm" class="page-animate" [hidden]="showSettings">
  <div class="card mt-3">

    <div class="card-body">
      <div class="row">

        <div class="col-lg-8 col-md-7">
          <div class="form-group">
            <angular2-multiselect [data]="listCard" [(ngModel)]="listCardActive" [settings]="settingsCard" name="listCardActive" id="listCardActive">
            </angular2-multiselect>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 align-self-center">
          <div class="row">
            <div class="col-auto mb-2">
                <input type="checkbox" class="ml-0 form-check-input checkbox" id="fl_cash" [(ngModel)]="fl_cash" name="fl_cash">
                <label class="form-check-label" for="fl_cash">Наличные</label>
            </div>
            <div class="col-auto mb-2">
                <input type="checkbox" class="ml-0 form-check-input checkbox" id="fl_cashless" [(ngModel)]="fl_cashless" name="fl_cashless">
                <label class="form-check-label" for="fl_cashless">Безналичные</label>
            </div>
          </div>
        </div>


        <div class="col-md-12 mb-3">
          <div class="input-group">
            <!--<div class="input-group-prepend">-->
            <!--<div class="input-group-text bg-white">-->
            <!--<i class="fas fa-calendar-alt"></i>-->
            <!--</div>-->
            <!--</div>-->
            <input class="form-control" [selectMode]="'range'" [(ngModel)]="dateRange"
                   [owlDateTime]="date" [owlDateTimeTrigger]="date" [rangeSeparator]="'-'" placeholder="Выберите временной диапазон" id="date" name="date">
            <owl-date-time #date></owl-date-time>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-12 mb-small">
          <div class="btn-group w-100">
            <div class="btn btn-info" (click)="editDay('-')"><i class="fas fa-caret-left"></i></div>
            <div class="btn w-100 btn-info" [ngClass]="activeDate === 'day' ? 'btn-active':''" (click)="getDay(); activeDate = 'day'">День</div>
            <div class="btn btn-info" (click)="editDay('+')"><i class="fas fa-caret-right"></i></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12 mb-small">
          <div class="btn-group w-100">
            <div class="btn btn-info" (click)="editWeek('-')"><i class="fas fa-caret-left"></i></div>
            <div class="btn w-100 btn-info" [ngClass]="activeDate === 'week' ? 'btn-active':''" (click)="getWeek(); activeDate = 'week'">Неделя</div>
            <div class="btn btn-info" (click)="editWeek('+')"><i class="fas fa-caret-right"></i></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12 mb-small">
          <div class="btn-group w-100">
            <div class="btn btn-info" (click)="editMonth('-')"><i class="fas fa-caret-left"></i></div>
            <div class="btn w-100 btn-info" [ngClass]="activeDate === 'month' ? 'btn-active':''" (click)="getMonth(); activeDate = 'month'">Месяц</div>
            <div class="btn btn-info" (click)="editMonth('+')"><i class="fas fa-caret-right"></i></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12 mb-small">
          <div class="btn-group w-100">
            <div class="btn btn-info" (click)="editYear('-')"><i class="fas fa-caret-left"></i></div>
            <div class="btn w-100 btn-info" [ngClass]="activeDate === 'year' ? 'btn-active':''" (click)="getYear(); activeDate = 'year'">Год</div>
            <div class="btn btn-info" (click)="editYear('+')"><i class="fas fa-caret-right"></i></div>
          </div>
        </div>

            <div class="col-lg-2 col-md-4 col-5 text-left">
              <button type="button" *ngIf="listReport.length > 0" class="btn btn-pink mr-1" (click)="exportExcel()">В Excel
              </button>
            </div>
            <div class="col-lg-2 col-md-8 col-7">
              <button type="submit" data-dismiss="modal" class="btn btn-info w-100"
                      (click)="getReport({cards: listCardActive, fl_cash: fl_cash, fl_cashless: fl_cashless});"
                      [disabled]="reportForm.form.invalid">Сформировать
              </button>
            </div>
      </div>
    </div>
  </div>
</form>

<div class="row page-animate mt-3" *ngFor="let prk of listReport" [ngClass]="prk.data.length === 0 ? 'd-none':''">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0 pb-0">{{prk.name}}</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-sm mb-0 table-bordered">
          <thead>
          <tr class="pt-4 pb-4">
            <td class="pointer pl-lg-4 border-0 table-title" scope="col" (click)="setOrder('name')">Касса
              <i [hidden]="reverse" [ngClass]="order === 'name' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'name' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </td>
            <td class="pointer text-right border-0 table-title" scope="col" (click)="setOrder('count_card')">Карты
              <i [hidden]="reverse" [ngClass]="order === 'count_card' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'count_card' ? '':'d-none'"
                 class="fas fa-caret-down ml-2"></i>
            </td>
            <td class="pointer text-right border-0 table-title" scope="col" (click)="setOrder('sum_sale')">Продажи
              <i [hidden]="reverse" [ngClass]="order === 'sum_sale' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'sum_sale' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </td>
            <td class="pointer text-right border-0 table-title" scope="col" (click)="setOrder('sum_add')">Пополнение
              <i [hidden]="reverse" [ngClass]="order === 'sum_add' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'sum_add' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </td>
            <td class="pointer text-right border-0 table-title" scope="col" (click)="setOrder('sum_ref')">Возврат
              <i [hidden]="reverse" [ngClass]="order === 'sum_ref' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'sum_ref' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </td>
            <td class="pointer text-right border-0 table-title pr-lg-4" (click)="setOrder('total')" scope="col">Итого
              <i [hidden]="reverse" [ngClass]="order === 'total' ? '':'d-none'" class="fas fa-caret-up ml-2"></i>
              <i [hidden]="!reverse" [ngClass]="order === 'total' ? '':'d-none'" class="fas fa-caret-down ml-2"></i>
            </td>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let kassa of prk.data | orderBy: order:reverse" (click)="Detalization(prk, kassa)">
            <td class="align-middle pl-lg-4 border-left-0" scope="row">{{kassa.name}}</td>
            <td class="align-middle text-right" scope="row">{{kassa.count_card | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">шт.</span></td>
            <td class="align-middle text-right" scope="row">{{kassa.sum_sale | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{kassa.sum_add | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{kassa.sum_ref | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right pr-lg-4 border-right-0" scope="row">{{kassa.total | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
          </tr>

          <tr class="total" *ngFor="let total of listTotal" [ngClass]="total.id === prk.id ? '':'d-none'">

            <th class="align-middle pl-lg-4 border-left-0" scope="row">Итог:</th>
            <td class="align-middle text-right" scope="row">{{total.count_card | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">шт.</span></td>
            <td class="align-middle text-right" scope="row">{{total.sum_sale | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{total.sum_add | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right" scope="row">{{total.sum_ref | currency:'RUB':' ':'1.0-0'}} <span
              class="d-none-xs">руб.</span></td>
            <td class="align-middle text-right pr-lg-4 border-right-0" scope="row">{{total.sum_sale + total.sum_add - total.sum_ref |
              currency:'RUB':' ':'1.0-0'}} <span class="d-none-xs">руб.</span></td>

          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
