.btn-active {
  background-color: #177187;
  border-color: #177187;
}
.card-header {
  border: 0;
  color: #000000;
  background-color: #FFFFFF !important;
  border-top-left-radius: 2px!important;
  border-top-right-radius: 2px!important;
}

.small-photo {
  object-fit: cover;
  height: 25px;
  width: auto;
  transition: all 0.3s;
}
.small-photo:hover {
  position: relative;
  transform: scale(2);
}
tr:hover {
  background-color: white!important;
}

.slide-small-photo {
  cursor: pointer;
  transition: all 0.3s;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
}
.slide-small-photo:hover {
  border: 3px solid #FF6384;
}
.active-photo {
  border: 3px solid #FF6384;
}


.btn-arrow {
  height: 40px;
  width: 40px;
  transition: all 0.3s;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
.btn-arrow:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
.btn-left {
  position: absolute;
  left: 0;
}
.btn-right {
  position: absolute;
  right: 0;
}

.block-small-image::-webkit-scrollbar {
  display: none;
}
