<div class="row">
  <div class="col-md-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../../../']">Phoenix Reporting</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['../../']">Концентраторы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Считыватели</li>
      </ol>
    </nav>

  </div>


  <div class="col-md-6 text-right align-self-center">
    <button class="btn btn-pink mb-2" routerLink="add"><span>Добавить</span> <i class="fas fa-memory ml-2"></i></button>
  </div>


</div>


<div class="row page-animate">
  <div class="col-md-12">
    <div class="card" [ngClass]="listSch.length === 0 ? 'd-none':''">
      <div class="card-header">
        <h3 class="font-weight-bold">{{nameHub}}({{itemPark.name}})</h3>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Ip адрес</th>
            <th scope="col" class="text-center">Таймаут сна</th>
            <th scope="col" class="text-center">Макс. проходов</th>
            <th scope="col" class="text-center">Удалить</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let sch of listSch | orderBy:'ip_adr'">
            <th class="align-middle text-center" scope="row" (click)="editSch(sch.sch_id)">
              <button class="btn btn-info">
                <i class="fas fa-memory"></i>
              </button>
            </th>
            <th class="align-middle text-center" scope="row" (click)="editSch(sch.sch_id)">{{sch.ip_adr}}</th>
            <td class="align-middle text-center" scope="row" (click)="editSch(sch.sch_id)">{{sch.timeout_sleep}} мин.
            </td>
            <td class="align-middle text-center" scope="row" (click)="editSch(sch.sch_id)">{{sch.pass}}</td>

            <td class="text-center">
              <button class="btn btn-info" (click)="selectSch(sch)" data-toggle="modal"
                      data-target="#exampleModalCenter"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div [ngClass]="listSch.length === 0 ? '':'d-none'" class="text-center h-100 align-self-center">
      <h3>Список пуст!</h3>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Удаление считывателя</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить считыватель {{itemSch.ip_adr}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="deleteSch()" data-toggle="modal"
                data-target="#exampleModalCenter">Удалить
        </button>
        <button type="button" class="btn btn-pink" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
