<ul class="nav nav-tabs border-0">
  <li class="nav-item">
    <a class="nav-link border-0" routerLink="people" routerLinkActive="active">Посетители</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-0" routerLink="kassir" routerLinkActive="active">Кассиры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-0" routerLink="dynamic-for-kassa" routerLinkActive="active">Динамика по кассе</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-0" routerLink="dynamic-for-attr" routerLinkActive="active">Динамика по аттракциону</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-0" routerLink="dynamic-for-attr-group" routerLinkActive="active">Динамика по группе аттракционов</a>
  </li>
</ul>

<router-outlet></router-outlet>
