<div class="w-100">
  <div class="row">
    <div class="col-md-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../']">Phoenix Reporting</a></li>
          <li class="breadcrumb-item active" aria-current="page">Графики</li>
        </ol>
      </nav>
    </div>

    <div class="col-md-5 text-center align-self-center">
      <form #curForm="ngForm">
        <div class="input-group input-search mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text input-search-icon">
              <i class="fas fa-calendar-alt"></i>
            </span>
          </div>
          <input type="datetime-local" class="form-control"
                 placeholder="Действующий график..." id="date" name="date" [ngModel]="date | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="date = $event" required>
          <button [disabled]="curForm.form.invalid" class="btn btn-light btn-graphic border-left-0" (click)="curGraphic({id: groupId, date: date})">Найти</button>
        </div>
      </form>
    </div>

    <div class="col-md-4 text-right align-self-center">

      <div class="btn-group mb-2 mr-2">
        <button type="button" class="btn btn-pink dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Группы репликации <i class="fas fa-layer-group ml-2"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right mt-2">
          <button class="dropdown-item mr-2 mb-2 pl-3" *ngFor="let group of listGroupRepl"
                  [ngClass]="group.name === itemGroupRepl ? 'btn-pink':''" (click)="selectGroup(group)">{{group.name}}</button>
        </div>
      </div>

      <button class="btn btn-pink mb-2" routerLink="add"><span>Добавить</span> <i class="fas fa-calendar-alt ml-2"></i></button>
    </div>

  </div>

  <div class="row page-animate">
    <div class="col-md-12">
      <div class="card" [ngClass]="listGraphic.length === 0 ? 'd-none':''">
        <div class="card-header">
          <h3 class="font-weight-bold">{{itemGroupRepl}}</h3>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col">График</th>
              <th scope="col">Тип</th>
              <th scope="col">Приоритет</th>
              <th scope="col" class="text-center">Удалить</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let graphic of listGraphic | orderBy:'prior':true">
              <td class="text-center">
                <button class="btn btn-info" (click)="editGraphic(graphic)">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </td>
              <th class="align-middle" scope="row" (click)="editGraphic(graphic)">{{graphic.name}}</th>
              <td class="align-middle" scope="row" (click)="editGraphic(graphic)">{{graphic.name_type}}</td>
              <td class="align-middle" scope="row" (click)="editGraphic(graphic)">{{graphic.prior}}</td>
              <td class="text-center">
                <button class="btn btn-info" (click)="selectGraphic(graphic)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>


</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Удаление графика</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить график {{itemGraphic.name}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="deleteGraphic()" data-toggle="modal" data-target="#exampleModalCenter">Удалить</button>
        <button type="button" class="btn btn-pink" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
